body{
    background-color: beige;
}

.content{
    width: 1500px;
    height: 3000px;
    margin: auto;
    font-family: sans-serif;
    font-size: 10px;
    
}
.content h1{
    text-align: left;
    font-size: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.inpForm{
    
    border: 1px solid black;
    width: fit-content ;
    border-radius: 10px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.063);
    margin-left: 100px;
}


.line1{
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    width: 1000px;
}
.line1 h2:nth-child(1){
    margin-right: 200px;
    margin-left: 40px;
    font-size: 20px;
    
}
.line1 h2:nth-child(2){
    margin-right: 250px;
    font-size: 20px;
}
.line1 h2:nth-child(3){
    
    font-size: 20px;
}


.line2{
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    width: 1000px;
    padding-bottom: 10px;   
}
.line2 h3{
    padding-left: 50px;
    margin-right: 15px;
    font-size: 20px;
}
.line2 input{
    font-size: 20px;
    font-family: sans-serif;
    height: 15px;
    margin-top: 20px;
    padding: 5px;
    margin-left: 170px;
}
.line2 img{
    margin-top: 20px;
    border-radius: 4px;
    height: 29px;
    width: 28px;
}



.line3{
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    width: 1000px;
    padding-bottom: 10px; 
}
.line3 h3{
    padding-left: 50px;
    margin-right: 15px;
    font-size: 20px;
}
.line3 input{
    font-size: 20px;
    font-family: sans-serif;
    height: 15px;
    margin-top: 20px;
    padding: 5px;
    margin-left: 170px;

}
.line3 img{
    margin-top: 20px;
    border-radius: 4px;
    height: 29px;
    width: 28px;
}


.line4{
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    width: 1000px;
    padding-bottom: 10px;
}
.line4 h3{
    padding-left: 50px;
    margin-right: 15px;
    font-size: 20px;
}
.line4 select{
    font-size: 20px;
    
    margin-left: 34px;
    width: 260px;
    height: 30px;
    margin-top: 20px;
    margin-right: 27px;
    margin-left: 203px;

}



.line5{
    display: flex;
    margin-top: 15px;
    
    margin-bottom: 0px;
    width: 1000px;
}
.line5 h3{
    padding-left: 50px;
    margin-right: 15px;
    font-size: 20px;
}
.line5 input{
    font-size: 20px;
    font-family: sans-serif;
    height: 15px;
    margin-top: 20px;
    
    width: 252px;
    padding: 5px;
    margin-right: 28px;
    margin-left: 173px;

}

.confirm{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: left ;
}
.confirm input{
    outline: none;
    font-size: 25px;
    background-color:inherit;
    outline: none;
    border: 1px solid beige;
    border-radius: 5px;

}
.confirm input:hover{
    border: 2px solid black;
}


#map{
    width: 80%;
    height: 20%;
    margin-top: 50px;
    margin-left: 100px;
}